body > h1{
	display: flex;
	justify-content: center;
}
#products {
	flex-flow: wrap column;
	align-content: flex-start;
}
.product-card {
	display: flex;
	flex-flow: wrap column;
	align-items: center;
	color: white;
	padding: 1rem;
	margin: .5rem;
	max-width: 450px;
	min-width: 450px;
	border-radius: 10px;
	background-color: tomato;
	border: 5px solid #fff;
	box-sizing: border-box;
}

@media screen and (min-width: 481px){
	.product-card{
		max-width: 500px;
		min-width: 500px;
	}
}
@media screen and (min-width: 769px){
	#products{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
